div{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    
   

}
div:hover{
    background-color: blue;
    transform: rotate(180deg);
    transform: scale(0.5);
    transform: translateY(30px);
    transform: skew(79deg);
}

